@font-face {
  font-family: 'Open_SansR';
  src: url('../fonts/OpenSans-Regular.eot');
  src: url('../fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Regular.woff2') format('woff2'), url('../fonts/OpenSans-Regular.woff') format('woff'), url('../fonts/OpenSans-Regular.ttf') format('truetype'), url('../fonts/OpenSans-Regular.svg#OpenSans-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Open_SansB';
  src: url('../fonts/OpenSans-Bold.eot');
  src: url('../fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Bold.woff2') format('woff2'), url('../fonts/OpenSans-Bold.woff') format('woff'), url('../fonts/OpenSans-Bold.ttf') format('truetype'), url('../fonts/OpenSans-Bold.svg#OpenSans-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Yanone Kaffeesatz';
  src: url('../fonts/YanoneKaffeesatz-Light.eot');
  src: url('../fonts/YanoneKaffeesatz-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/YanoneKaffeesatz-Light.woff2') format('woff2'), url('../fonts/YanoneKaffeesatz-Light.woff') format('woff'), url('../fonts/YanoneKaffeesatz-Light.ttf') format('truetype'), url('../fonts/YanoneKaffeesatz-Light.svg#YanoneKaffeesatz-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Yanone_Kaffeesatz_Reg';
  src: url('../fonts/YanoneKaffeesatz-Regular.eot');
  src: url('../fonts/YanoneKaffeesatz-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/YanoneKaffeesatz-Regular.woff2') format('woff2'), url('../fonts/YanoneKaffeesatz-Regular.woff') format('woff'), url('../fonts/YanoneKaffeesatz-Regular.ttf') format('truetype'), url('../fonts/YanoneKaffeesatz-Regular.svg#YanoneKaffeesatz-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
a:focus,
a:hover {
  text-decoration: none;
  outline: none;
}
* {
  outline: none;
}
body {
  font-family: 'Open_SansR', sans-serif;
}
html {
  font-size: 10px;
}
ul {
  padding: 0;
  list-style: none;
  margin-bottom: 0;
}
.header .container {
  height: 16rem;
  background-color: #57d154;
  padding: 1.5rem 1.5rem 1.5rem 0;
}
.header .container .logo {
  background: url(../img/logo_exp.png) center no-repeat;
  width: 36rem;
  height: 13rem;
  display: inline-block;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.header .container .logo:hover {
  background: url(../img/logo_hov.png) center no-repeat;
}
.header .container .line {
  display: inline-block;
  position: absolute;
  top: 1px;
  width: 1px;
  height: 2rem;
  background-color: #222;
  margin-left: 5px;
}
.header .container .reg {
  margin-left: 1.1rem;
}
.header .container .sign {
  float: right;
}
.header .container .sign a {
  color: #222222;
}
.header .container .header-input {
  width: 60rem;
  height: 5rem;
  float: right;
  background-color: #e4e4e4;
}
.header .container form {
  margin-top: 1.8rem;
}
.header .container form input {
  padding-left: 1rem;
  border: none;
}
.header .container form .search {
  position: absolute;
  top: 2rem;
  right: 3rem;
  width: 4.5rem;
  height: 4.5rem;
  border: none;
  background: url(../img/loupe.png) center no-repeat;
}
.header .container .row-features {
  margin-top: 1.5rem;
  margin-left: -5rem;
}
.header .container .row-features p {
  line-height: 3rem;
  margin-left: 2rem;
  font-size: 1.6rem;
}
.header .container .fast::before {
  content: '';
  width: 3rem;
  height: 3rem;
  background: url(../img/features/watch.png) center no-repeat;
  background-size: cover;
  position: absolute;
  left: 0;
  top: 0;
}
.header .container .garant {
  margin-right: -1rem;
}
.header .container .garant:before {
  content: '';
  width: 3rem;
  height: 3rem;
  background: url(../img/features/check.png) center no-repeat;
  background-size: cover;
  position: absolute;
  left: 4rem;
  top: 0;
}
.header .container .cool_prices {
  float: right;
}
.header .container .cool_prices:before {
  content: '';
  width: 3rem;
  height: 3rem;
  background: url(../img/features/dollar.png) center no-repeat;
  background-size: cover;
  position: absolute;
  left: 3rem;
  top: 0;
}
nav {
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
nav .container {
  background-color: #e3e3e3;
  padding: 0;
}
nav .container a {
  text-align: center;
  float: left;
  text-transform: uppercase;
  font-size: 3rem;
  display: inline-block;
  width: 19.5rem;
  height: 5rem;
  line-height: 5.5rem;
  background-color: #e3e3e3;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #222222;
}
nav .container a:hover {
  text-decoration: none;
  background-color: #57d154;
}
nav .container a:last-child {
  width: 19.6rem;
}
nav .container .nav-line {
  margin-top: 1.4rem;
  float: left;
  width: 1px;
  height: 2.2rem;
  background-color: #000;
}
.information {
  font-family: 'Yanone_Kaffeesatz_Reg', sans-serif;
}
.information .row {
  position: relative;
}
.information .divider_left {
  position: absolute;
  display: inline-block;
  left: 0;
  top: 50%;
  height: 1px;
  width: 36.5rem;
  background-color: #222222;
}
.information .divider_right {
  position: absolute;
  display: inline-block;
  right: 0;
  top: 50%;
  height: 1px;
  width: 36.5rem;
  background-color: #222222;
}
.information .info {
  margin-left: 7rem;
  position: relative;
  display: inline-block;
  text-align: justify;
}
.information .info h2 {
  text-transform: uppercase;
  margin-bottom: 0;
}
.information .info:before {
  content: '';
  width: 3.5rem;
  height: 4.8rem;
  background: url(../img/hand.png) center no-repeat;
  background-size: cover;
  position: absolute;
  left: -4rem;
  top: 2rem;
}
.information .info p {
  width: 21rem;
  font-size: 1.7rem;
}
.coin {
  text-align: center;
}
.coin-block:hover img {
  webkit-transform: rotateY(360deg);
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
  -webkit-transition: -webkit-transform 0.7s;
  transition: -webkit-transform 0.7s;
  -webkit-transition: -webkit-transform .7s;
  transition: -webkit-transform .7s;
  transition: transform .7s;
  transition: transform .7s, -webkit-transform .7s;
  transition: transform 0.7s, -webkit-transform 0.7s;
}
.information-2 {
  font-family: 'Yanone_Kaffeesatz_Reg', sans-serif;
}
.information-2 .row {
  position: relative;
}
.information-2 .divider_left {
  position: absolute;
  display: inline-block;
  left: 0;
  top: 60%;
  height: 1px;
  width: 39.5rem;
  background-color: #222222;
}
.information-2 .divider_right {
  position: absolute;
  display: inline-block;
  right: 0;
  top: 60%;
  height: 1px;
  width: 39.5rem;
  background-color: #222222;
}
.information-2 .info {
  font-family: 'Yanone_Kaffeesatz_Reg', sans-serif;
  display: inline-block;
}
.information-2 .info h2 {
  text-transform: uppercase;
  margin-bottom: 0;
}
.top-block {
  position: relative;
  margin-top: 6rem;
}
.top-block img {
  margin-top: 1rem;
  width: 19rem;
  height: 19rem;
  -webkit-transition: .7s;
  transition: .7s;
}
.top-block p {
  -webkit-transition: 2s;
  transition: 2s;
  color: #1c1c1c;
  margin-top: 1rem;
  font-size: 2rem;
}
.top-block_hover {
  position: absolute;
  top: 50%;
  z-index: -999;
  width: 20.6rem;
  height: .5rem;
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
  background-color: #222222;
}
.top-block_price {
  position: absolute;
  top: 23%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  opacity: 0;
  width: 10.5rem;
  height: 10.5rem;
  background-color: #000;
  -webkit-transition: .6s;
  transition: .6s;
}
.top-block_price p {
  margin-top: 3.7rem;
}
.top-block:hover img {
  border: 10px solid #57d154;
}
.top-block:hover p {
  color: #fff;
}
.top-block:hover .top-block_hover {
  opacity: 1;
  -webkit-transform: scaleY(48);
          transform: scaleY(48);
}
.top-block:hover .top-block_price {
  opacity: .85;
}
.footer {
  margin-top: 2rem;
}
.footer .container {
  padding: 2rem 0 1rem 1rem;
  background-color: #57d154;
}
